 div a{
    
    
    margin-left: 30px;
    position: relative;
    left: 300px;
    
} 
.hidden{
    visibility: hidden;
}
div h1{
    font-size:60px;
}
.img{
    margin-left:180px ;
    margin-top: 100px;
}
.gg{
    position: relative;
    bottom: 150px;
    left: px;
    width:1500px ;
}